<div class="container contacts__add__form">
  <form ng-init="emptyContact()" ng-submit="addContact(contact)">
    <div class="row">
      <div class="form-group col-lg-6">
        <label>First Name</label>
        <input type="text" class="form-control" ng-model="contact.first_name" required>
      </div>
      <div class="form-group col-lg-6">
        <label>Last Name</label>
        <input type="text" class="form-control" ng-model="contact.last_name" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="contact.email" required>
        <!-- <p ng-show="contact.email.$invalid" class="help-block">Enter a valid email.</p> -->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <label>Date of Birth</label>
        <input type="text" class="form-control" id="datepicker" ng-model="contact.dob">
        <!-- <input type="text" class="form-control" ng-model="contact.dob"> -->
      </div>
      <div class="form-group col-lg-6">
        <label>Phone (xxx-xxx-xxxx) </label>
        <input type="text" class="form-control" ng-model="contact.phone" >
        <!-- ng-pattern="ph_numbr" -->
        <!-- <p ng-message="pattern">Phone number is invalid.</p> -->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label>Picture URL</label>
        <input type="text" class="form-control" ng-model="contact.img_url">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label>Comment</label>
        <textarea type="text" ng-model="contact.comment" class="form-control" rows="5" ng-maxlength="2000"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label>Genre</label>
        <select id="addcontact_form_select" ng-model="contact.groups" class="form-control" ng-change="addGroup()">
          <option value="Family">Family</option>
          <option value="Friends">Friends</option>
          <option value="Work">Work</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        
        <li class="add_contact_group_display" ng-repeat="group in selected_groups">{{ group }} <button type="button" class="btn btn-danger btn-xs" ng-click="removeGroup(group)">remove</button></li>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </div>
      <div class="form-group col-lg-6">
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">Cancel</button>
      </div>
    </div>


  </form>
</div>
<div id="myModal" class="modal fade cancel__modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure you want to cancel ? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="go()">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>
